
@{
    ViewData["Title"] = "Index";
}

@section TOPCSS {
    <link rel="stylesheet" href="~/css/Trip/index.css">
}

<article class="top">
    <div class="navBar container">
        <div class="left-right row">

            <div class="left col-xl-6">
                <!-- 搜尋bar -->
                <div class="search">
                    <div class="title">行程靈感</div>
                    <section class="d-flex input-group-text border-0 rounded-pill gap-3">
                        <button class="searchButton btn btn-primary dropdown-toggle rounded-pill px-1"
                                type="button">
                            找地區
                        </button>
                        <i class="fa-solid fa-search text-body-tertiary"></i>
                        <input type="text" class="searchButton2 form-control border-0" placeholder="看看大家怎麼玩"
                               aria-label="Username" aria-describedby="basic-addon1" />
                    </section>
                </div>
                <!-- 搜尋bar下方 -->
                <div class="text-light content">
                    <div class="d-flex author">
                        <img src="https://picsum.photos/id/6/48/48" class="avatar rounded-circle d-inline"
                             alt="使用者頭像">
                        <div class="name">FunTrip官方推薦</div>
                    </div>
                    <p class="fw-bold title">浪漫東京遊😻｜Panasonic Beauty表參道旗艦店體驗</p>
                    <p class="detail">
                        -絕對攻略｜和另一半的東京浪漫小旅行✈️ 小編精心為各位整理了熱門購物街區，不管是想趁出國買精品，或是想找日本特色品牌，行程全都包辦，絕對可以照抄起來
                    </p>
                    <button class="btn btn-dark rounded-5 fw-bold border-0">詳細行程</button>
                </div>
            </div>


            <!-- 輪播幻燈片 -->
            <div class="card-swapper swiper mySwiper col-xl-6">
                <div class="swiper-wrapper row text-light">
                    <div class="swapperCard swiper-slide col-4">
                        <img class="rounded-3" src="https://picsum.photos/id/10/250/350" alt="">
                        <div class="card-text">
                            <p>FunTrip官方推薦<br>日本橫濱一日遊</p>
                        </div>
                    </div>
                    <div class="swapperCard swiper-slide col-4">
                        <img class="rounded-3" src="https://picsum.photos/id/11/250/350" alt="">
                        <div class="card-text">
                            <p>FunTrip官方推薦<br>Lena 石垣島4天</p>
                        </div>
                    </div>
                    <div class="swapperCard swiper-slide col-4">
                        <img class="rounded-3" src="https://picsum.photos/id/12/250/350" alt="">
                        <div class="card-text">
                            <p>FunTrip官方推薦<br>高雄追吉伊卡灣</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev prev-btn swiper-button-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next next-btn swiper-button-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <div class="bg-swapper swiper-slide">
                        <img src="https://picsum.photos/id/96/1200/600/" alt="">
                    </div>
                </div>
                <!-- <picture class="bg-swapper swiper-slide">
                    <img src="https://picsum.photos/id/96/1200/600/" alt="">
                </picture> -->
            </div>



        </div>
    </div>
</article>


<!-- 人氣排行榜 -->
<article class="hito-container">
    <h2 class="hito">人氣排行榜</h2>
    <!-- 卡片第一列 -->
    <div class="container">
        <div class="row">
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="img-card rounded-3" src="https://picsum.photos/id/13/250/150"
                         alt="">
                    <span class="top-badge">TOP 01</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">東京七天六夜攻略筆記：橫濱/河口湖/吉祥寺/迪士尼</h5>
                    <img class="user rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">一直玩的馬摩</p>
                    <div>
                        <span class="remark">7日遊</span><span class="remark">秘境美拍</span>
                        <span class="remark">觀光景點</span><span class="remark">+4</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.6K・8.7K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/14/250/150" alt="">
                    <span class="top-badge">TOP 02</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">日本關西必遊路線：京都大阪奈良六天五夜</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">蓉蓉</p>
                    <div>
                        <span class="remark">6日遊</span><span class="remark">自由行</span>
                        <span class="remark">觀光景點</span><span class="remark">+4</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.6K・8.3K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/15/250/150" alt="">
                    <span class="top-badge">TOP 03</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>台灣
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">到嘉義就是要吃！</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">壹加壹</p>
                    <div>
                        <span class="remark">2日遊</span><span class="remark">租車自駕</span>
                        <span class="remark">吃吃喝喝</span><span class="remark"></span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.4K・3.3K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/16/250/150" alt="">
                    <span class="top-badge2">TOP 04</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">【布萊N】🇯🇵京阪六天五夜行</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">布萊N機票達人</p>
                    <div>
                        <span class="remark">6日遊</span><span class="remark">自由行</span>
                        <span class="remark">觀光景點</span><span class="remark">+3</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>989・4.1K人都在用</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 卡片第二列 -->
    <div class="container">
        <div class="row">
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/13/250/150" alt="">
                    <span class="top-badge2">TOP 05</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">東京七天六夜攻略筆記：橫濱/河口湖/吉祥寺/迪士尼</h5>
                    <img class="user rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">一直玩的馬摩</p>
                    <div>
                        <span class="remark">7日遊</span><span class="remark">秘境美拍</span>
                        <span class="remark">觀光景點</span><span class="remark">+4</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.6K・8.7K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/14/250/150" alt="">
                    <span class="top-badge2">TOP 06</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">日本關西必遊路線：京都大阪奈良六天五夜</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">蓉蓉</p>
                    <div>
                        <span class="remark">6日遊</span><span class="remark">自由行</span>
                        <span class="remark">觀光景點</span><span class="remark">+4</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.6K・8.3K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/15/250/150" alt="">
                    <span class="top-badge2">TOP 07</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>台灣
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">到嘉義就是要吃！</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">壹加壹</p>
                    <div>
                        <span class="remark">2日遊</span><span class="remark">租車自駕</span>
                        <span class="remark">吃吃喝喝</span><span class="remark"></span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.4K・3.3K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/16/250/150" alt="">
                    <span class="top-badge2">TOP 08</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">【布萊N】🇯🇵京阪六天五夜行</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">布萊N機票達人</p>
                    <div>
                        <span class="remark">6日遊</span><span class="remark">自由行</span>
                        <span class="remark">觀光景點</span><span class="remark">+3</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>989・4.1K人都在用</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 卡片第三列 -->
    <div class="container">
        <div class="row">
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/13/250/150" alt="">
                    <span class="top-badge2">TOP 09</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">東京七天六夜攻略筆記：橫濱/河口湖/吉祥寺/迪士尼</h5>
                    <img class="user rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">一直玩的馬摩</p>
                    <div>
                        <span class="remark">7日遊</span><span class="remark">秘境美拍</span>
                        <span class="remark">觀光景點</span><span class="remark">+4</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.6K・8.7K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/14/250/150" alt="">
                    <span class="top-badge2">TOP 10</span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">日本關西必遊路線：京都大阪奈良六天五夜</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">蓉蓉</p>
                    <div>
                        <span class="remark">6日遊</span><span class="remark">自由行</span>
                        <span class="remark">觀光景點</span><span class="remark">+4</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.6K・8.3K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/15/250/150" alt="">
                    <span class=""></span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>台灣
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">到嘉義就是要吃！</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">壹加壹</p>
                    <div>
                        <span class="remark">2日遊</span><span class="remark">租車自駕</span>
                        <span class="remark">吃吃喝喝</span><span class="remark"></span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>1.4K・3.3K人都在用</div>
                </div>
            </div>
            <div class="hitoCard col-xl-3 col-md-6 border-0">
                <div class="img-container">
                    <img class="rounded-3" src="https://picsum.photos/id/16/250/150" alt="">
                    <span class=""></span><span class="location-badge">
                        <i class="fa-solid fa-location-dot mx-2"></i>日本
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="userText fs-6 fw-bold">【布萊N】🇯🇵京阪六天五夜行</h5>
                    <img class="user mx-auto rounded-pill avatar rounded-circle d-inline"
                         src="https://picsum.photos/id/6/20/20" alt="使用者頭像">
                    <p class="userText d-inline fw-bold">布萊N機票達人</p>
                    <div>
                        <span class="remark">6日遊</span><span class="remark">自由行</span>
                        <span class="remark">觀光景點</span><span class="remark">+3</span>
                    </div>
                    <div class="thumb"><i class="fa-regular fa-thumbs-up"></i>989・4.1K人都在用</div>
                </div>
            </div>
        </div>
    </div>
</article>

@section ENDJS {
    <script src="~/js/Trip/index.js"></script>
}