
@{
    ViewData["Title"] = "_ProductFooterPartial";
}

<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <!-- 左側 50% 區塊，內部分為兩欄 -->
            <div class="footer-left">
                <!-- 第一欄：關於和泰相關 -->
                <div class="footer-column">
                    <h4>關於和泰相關</h4>
                    <ul>
                        <li><a href="#">和泰Points介紹</a></li>
                        <li><a href="#">和泰集團會員</a></li>
                        <li><a href="#">和泰集團會員隱私權政策</a></li>
                        <li><a href="#">和泰集團常見問題</a></li>
                        <li><a href="#">和泰集團會員條款</a></li>
                    </ul>
                </div>
                <!-- 第二欄：關於去趣 -->
                <div class="footer-column">
                    <h4>關於去趣</h4>
                    <ul>
                        <li><a href="#">FAQ專區</a></li>
                        <li><a href="#">客服專區</a></li>
                        <li><a href="#">隱私權政策</a></li>
                        <li><a href="#">免責聲明</a></li>
                        <li><a href="#">防詐騙提醒</a></li>
                        <li><a href="#">和泰集團相關服務</a></li>
                    </ul>
                </div>
            </div>
            <!-- 右側 50% 區塊：旅行社資訊 -->
            <div class="footer-right">
                <h4>和漾旅行社股份有限公司</h4>
                <p>旅遊商品由 和漾旅行社股份有限公司 提供</p>
                <p>
                    代表人：吳品璁 | 統一編號：90356017 | 旅行社註冊編號：850800 |
                    品保協會會員編號：北2598號
                </p>
                <p>請點擊 <a href="#">客服專區</a> 專人為您服務</p>
                <p>其他商品由 和泰聯網股份有限公司 提供</p>
                <p>旅遊專線：(02)2506-2121 分機1436 週一至週五 (09:00-17:30)</p>
                <p>旅遊聯絡信箱： service@chictrip.com.tw | 聯絡人：蘇聖惠</p>
                <p>
                    統一編號：55384114 | 地址：104台北市中山區松江路433號4樓 |
                    聯絡信箱：gocs@hotaigo.com.tw
                </p>
            </div>
        </div>
        <!-- 版權資訊 -->
        <div class="footer-bottom">
            <p>
                Copyright © 2025 Hotai Connected Co.,Ltd Powered by Hotai Motor
                Corporation
            </p>
        </div>
    </div>
</footer>
    

