.search input:focus {
    outline: none;
    /* 移除藍色外框 */
    box-shadow: none;
    /* 確保 Bootstrap 或其他樣式不影響 */
    border-color: inherit;
    /* 保持原本的邊框顏色 */
}

.searchBar div {
    padding: 30px 50px 0px;
}

.input {
    padding: 10px 80px;
}

.special {
    padding: 80px 80px 30px;
}

    .special h5 {
        color: #2D4057;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 4px;
        font-weight: 500;
    }

    .special p {
        color: #2D405766;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .special button {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 24px;
        height: 24px;
        padding: 4px;
        margin: 0;
        border-radius: 100px;
        /* background-color: #f2f4f8; */
        background-color: #a47464;
        color: white;
        transition-duration: 0.3s;
        cursor: pointer;
        box-sizing: content-box;
    }

        .special button:hover {
            background-color: #8b645a;
            border-color: #8b645a;
            font-weight: bold;
        }

.allPic {
    justify-content: center;
}

    .allPic img {
        width: 170px;
        height: 350px;
    }

.searchButton {
    background-color: #a47464;
    border-color: #a47764;
    font-weight: bold;
}

    .searchButton:hover {
        background-color: #8b645a;
        border-color: #8b645a;
        font-weight: bold;
    }

@media screen and (min-width: 1024px) {
    .dropdown {
        width: 50%;
    }

    .hito-container {
        margin: 0px 62px;
        padding: 0px 0px 64px;
    }

        .hito-container .title {
            color: #2d4057;
            font-size: 24px;
            line-height: 36px;
            margin: 0px 0px 20px;
        }


    .hitoCard img,
    .hitoCard .card-body {
        cursor: pointer;
    }

    .container .hitoCard img {
        width: 100%;
        height: auto;
    }

    .card-body h5 {
        color: #2d4057;
        font-size: 16px;
        min-height: 40px;
        margin: 5px 0px 8px;
        overflow: hidden;
        font-weight: 500;
        line-height: 24px;
    }

    .hitoCard p {
        font-size: 12px;
        color: #2d4057;
        overflow: hidden;
        font-weight: 500;
        line-height: 20px;
    }

    .container .hitoCard .user {
        width: 20px;
        height: 20px;
    }

    .hitoCard .remark {
        background-color: #2D40570D;
        padding: 0px 6px;
        color: #2D405799;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    article .hitoCard .thumb {
        color: #2D405799;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    .img-container {
        position: relative;
        /* display: inline; */
    }

    .location-badge {
        position: absolute;
        bottom: 15px;
        left: 10px;
        color: white;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;
        padding: 0px 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px) {
    .dropdown {
        width: 100%;
    }

    .hito-container {
        padding: 0 20px 20px;
    }

    .hito {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        color: #2d4057;
        margin: 8px 0;
    }

    .hitoCard {
        padding: 16px 0 12px;
        border-bottom: solid 1px rgba(45, 64, 87, .1);
        cursor: pointer;
    }

    .img-container {
        position: relative;
    }

    .location-badge {
        position: absolute;
        bottom: 15px;
        left: 10px;
        color: white;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;
        padding: 0px 5px;
        border-radius: 10px;
    }

    .card-body h5 {
        margin: 8px 0px;
        color: #2D4057;
        font-size: 16px;
        overflow: hidden;
        font-weight: 500;
        line-height: 24px;
    }

    .card-body p {
        color: #2D4057;
        font-size: 12px;
        overflow: hidden;
        font-weight: 500;
        line-height: 20px;
    }

    .card-body .remark {
        font-size: 12px;
        color: #2D405799;
        background-color: #2D40570D;
        padding: 0px 6px;
        border-radius: 4px;
        font-weight: 400;
        line-height: 20px;
    }

    .card-body .thumb {
        font-size: 12px;
        color: #2D405799;
        font-weight: 400;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .dropdown {
        width: 100%;
    }

    .hito-container {
        padding: 0px 24px 24px;
    }

        .hito-container .title {
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            color: #2d4057;
        }

    .hito {
        color: #2D4057;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        margin: 40px 0px 20px;
    }

    .hitoCard {
        padding: 0px 10px 20px;
    }

    .card-body h5 {
        color: #2D4057;
        font-size: 16px;
        margin: 0px 0px 8px;
        overflow: hidden;
        font-weight: 500;
        line-height: 24px;
        min-height: 40px;
    }

    .card-body p {
        color: #2D4057;
        font-size: 12px;
        overflow: hidden;
        font-weight: 500;
        line-height: 20px;
    }

    .card-body .remark {
        color: #2d405799;
        background-color: #2D40570D;
        padding: 0px 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        border-radius: 4px;
    }

    .card-body .thumb {
        color: #2d405799;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    .img-container {
        position: relative;
    }

    .location-badge {
        position: absolute;
        bottom: 15px;
        left: 10px;
        color: white;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;
        padding: 0px 5px;
        border-radius: 10px;
    }
}
